$base-line-height: 1.5em !default;
$action-color: #477dca !default;
$dark-gray: #333 !default;
$base-font-color: $dark-gray !default;
$icon-bullet-size: 3.5em;

.bullet-icon {
  background: $action-color;
  border-radius: 50%;
  float: none;
  height: $icon-bullet-size;
  padding: $icon-bullet-size / 4;
  width: $icon-bullet-size;
  margin: auto;
}

.bullet-icon-1 {
  background: $action-color;
}

.bullet-icon-2 {
  background: adjust-hue($action-color, -50%);
}

.bullet-icon-3 {
  background: adjust-hue($action-color, -140%);
}

.bullet-content {
  margin-left: $icon-bullet-size * 1.4;
  margin-bottom: 2em;
}

.top-badge {
  text-align: center;
  @include span-columns(12);
  width: 100%;
  padding-bottom: 2em;
  @include media(550px) {
    @include span-columns(4);
  }
}

.top-badges {
  margin-top: 3em;
  margin-bottom: 4em;
}
