@import "bourbon/bourbon";
@import "base/grid-settings";
@import "neat/neat";
@import "base/base";

@import "om-meg";
@import "footer";
@import "map";
@import "bullets";

.reklame {
padding-bottom: 2.7em;
}

.outer-container {
  @include outer-container;
  padding-top: 3em;
}
.full-row {
  @include span-columns(12);
  @include omega();
}
.half-row {
  height: 100%;
  margin-right: 0 !important;
  @include span-columns(6);

  @include media($mobile) {
    @include span-columns(12);
    width: 100%;
  }
}


.kontakt-info {
  @include span-columns(3);
  margin-top: 2em;
  margin-bottom: 2em;

  @include media($mobile) {
    @include span-columns(12);
    width: 100%;
    text-align: center;
  }
}

#submit-button {
  text-align: right;
}

.kontakt-skjema {
  @include span-columns(9);
  margin-top: 2em;
  margin-bottom: 2em;

  @include media($mobile) {
    @include span-columns(12);
    width: 100%;
  }
}

.outer-kontakt {
  $side-image-content-background: #FFF;
  background: $side-image-content-background;
  width: 100%;

  h2 {
    font-size: 2em;
    color: #787878;
    margin-bottom: 0;
    font-weight: 200;
  }
}

.full-row {
  padding-left: 2em;
  padding-right: 2em;
}

.outer-pris {
  background: #F9F9F9;
  padding-bottom: 2em;

  ul {
    list-style-position: inside;
    list-style-type: square;
    font-size: 24px;
    font-weight: 300;
    li {
      padding-top: 1.5em;
      padding-bottom: 1.5em;
    }
  }
}

.kontakt-row {
  padding-left: 2em;
  padding-right: 2em;
}

.one-third-row {
  @include span-columns(4);

  @include media($mobile) {
   width: 100%;
  }
}

.selfy {
  background: url("me.png") no-repeat;
  padding-bottom: 0;
  //margin-top: 150px;
  @include clearfix;
  min-height: 400px;
  height: 100%;
  background-size: auto 95%;
  background-position: center bottom;

}
.top {
  height: 100%;
  width: 100%;
  color: #fff !important;
  text-align: center;
  ul {
    font-size: 1.2em;
  }

  h1 {
    font-size: 3em;
    font-weight: 300;
    color: #505050;
  }
  h2 {
    font-size: 2em;
    color: #787878;
    margin-bottom: 0;
    padding-top: 2em;
    font-weight: 200;
  }
  ul {
    text-align: left;
    padding-left: 1em;
  }
}

h3 {
  padding-top: 1em;
  font-size: 1.4em;
  font-weight: 300;
  text-align: center;
}

.top {
  background: url("alesund.jpg") repeat;
  background-position: top;
  background-size: cover;
  background-color: beige;
  left: 0;
  width: 100%;
  min-height: 600px;
}

.kontakt-info-item {
  font-size: 1.5em;
      @include media(990px) {
        font-size: 2em;
      }
}
